.about-us{
    overflow: hidden;
    width: 150%;
    position: justify;
    /* content: center; */
    transform: translateX(200px);
    margin-top: 30px;
}

.bio{
    margin-top: 20px;
    margin-bottom: 20px;
}

img{
    width: 100%;
    border-radius: 25px;
}
