.home .leftSide{
    /* border: 1px solid black; */
    /* overflow: auto; */
    position: absolute;
    width: 70%;
    padding: 1%;
    top:7%;
    margin-left: 3%;
    margin-right: 1%;
    bottom: 1%;
}
.bttn{
    border: 1px solid #143784;
    border-radius: 5px;
    color: white;
}
.bttn:hover{
    border: 1px solid #143784;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.leftSide footer{
    padding-bottom: 5px;
}

.home .rightSide{
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    overflow: auto;
    position: fixed;
    width: 24%;
    padding: 1%;
    padding-left: 0%;
    padding-right: 0%;
    top:6%;
    margin-left: 76.2%;
    margin-right: 4.5%;
    height: 94.5%;
}

.sideTittle{
    text-align: center;
}
.sideTittle a:link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.sideTittle a:active{
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.sideTittle a:hover{
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.sideTittle a:visited{
    color: black;
    background-color: transparent;
    text-decoration: none;
}



dl{
    border-top: 0.1px solid black;
}
dd{
    text-align: end;
}

button{
    width: 100%;
    border: 0;
    padding-bottom: 5px;
}

button:hover{
    width: 100%;
    border: 0;
    padding-bottom: 5px;
    background-color: #143784;
    color: white;
}

.leftSide h2{
    text-align: center;
}
.leftSide h6{
    text-align: right;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.leftSide .fa{
    text-align: right;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.leftSide a{
    text-decoration: none;
}