h6{
    text-align: right;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.fa{
    text-align: right;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
a{
    text-decoration: none;
}